@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:ital,wght@0,900;1,400;1,900&family=Nunito&family=Open+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBE5E5;
    /* font-family: "San Francisco";  */
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}